{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
  <h4>Login</h4>
  <form method="POST" action="/login/" class="aa-login-form">
    {% csrf_token %}
    <label for="">
      Email address<span>*</span>
    </label>
    <input name="email" type="text" placeholder="Email">
    <label for="">
      Password<span>*</span>
    </label>
    <input name="password" type="password" placeholder="Password">
    {% if login_error %}<div class="alert alert-danger">{{ login_error }}</div>{% endif %}
    <button type="submit" class="aa-browse-btn">Login</button>
    <label class="rememberme" for="rememberme">
      <input type="checkbox" id="rememberme">
      Remember me
    </label>
    <p class="aa-lost-password">
      <a href="#">Lost your password?</a>
    </p>
  </form>
  <!-- / Cart view section -->
{% endblock %}
