{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
  <ul class="aa-product-catg">
    <!-- start single product item -->
    {% for product in products %}
      <li>
        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
        <h4 class="aa-product-title">
          <a href="/product/{{ product.id }}">{{ product.product_name }}</a>
        </h4>
        <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
        <a href="/product/{{ product.id }}">Details</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
