{% load static %}
<!-- wpf loader Two -->
<!-- / wpf loader Two -->
<!-- SCROLL TOP BUTTON -->
<!-- END SCROLL TOP BUTTON -->
<!-- Start header section -->
<header id="aa-header">
  <!-- start header top  -->
  <h3>
    Header
    <h3>
      <div class="aa-header-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="aa-header-top-area">
                <!-- / header top left -->
                <div class="aa-header-top-right">
                  <ul class="aa-head-top-nav-right">
                    <li>
                      <a href="/account">My Account</a>
                    </li>
                    <li class="hidden-xs">
                      <a href="/cart">My Cart - {{ cart_items_number }}</a>
                    </li>
                    <li class="hidden-xs">
                      <a href="/checkout">Checkout</a>
                    </li>
                    <li>
                      <a href="/login">Login</a>
                    </li>
                    <li>
                      <a href="/register">Register</a>
                    </li>
                    <li>
                      <a href="/shop">shop</a>
                    </li>
                    <li>
                      <a href="/">home</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / header top  -->
      <!-- start header bottom  -->
      <!-- / header bottom  -->
    </header>
    <!-- / menu -->
